@model IEnumerable<SalesWebMvc.Models.SalesRecord>

@{
    ViewData["Title"] = "SimpleSearch";
}

<h2>@ViewData["Title"]</h2>

<nav class="navbar bg-primary mb-3 rounded">
    <div class="container-fluid">
        <form class="row gx-3 align-items-center rounded" role="search">
            <div class="col-auto">
                <label for="minDate" class="form-label text-white mb-1">Min Date</label>
                <input type="date" class="form-control" name="minDate" value="@ViewData["minDate"]" />
            </div>
            <div class="col-auto">
                <label for="maxDate" class="form-label text-white mb-1">Max Date</label>
                <input type="date" class="form-control" name="maxDate" value="@ViewData["maxDate"]" />
            </div>
            <div class="col-auto mt-4">
                <button type="submit" class="btn btn-light">Filter</button>
            </div>
        </form>
    </div>
</nav>

<div class="card border-primary mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Total sales = @Model.Sum(obj => obj.Amount).ToString("F2")</h5>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover rounded">
            <thead class="table-success rounded">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                    <th>@Html.DisplayNameFor(model => model.Seller)</th>
                    <th>@Html.DisplayNameFor(model => model.Seller.Department)</th>
                    <th>@Html.DisplayNameFor(model => model.Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Seller.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Seller.Department.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
